In [4]:
# look at the data at hand

import pandas as pd

df = pd.read_csv("/home/ix502iv/Documents/Datasets/household_power_consumption.txt", delimiter=';')

/tmp/ipykernel_25251/3757840108.py:5: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/home/ix502iv/Documents/Datasets/household_power_consumption.txt", delimiter=';')

In [5]:
df.head(10)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.020,15.000,0.000,2.000,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.090,15.800,0.000,1.000,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.220,15.800,0.000,1.000,17.0
8,16/12/2006,17:32:00,3.668,0.510,233.990,15.800,0.000,1.000,17.0
9,16/12/2006,17:33:00,3.662,0.510,233.860,15.800,0.000,2.000,16.0

In [6]:
# convert features for better analysis
df['date_time'] = pd.to_datetime(df['Date']+' '+df['Time'])

In [7]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,date_time
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0,2006-12-16 17:24:00
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0,2006-12-16 17:25:00
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0,2006-12-16 17:26:00
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0,2006-12-16 17:27:00
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0,2006-12-16 17:28:00

In [8]:
df['Global_active_power']=pd.to_numeric(df['Global_active_power'], errors='coerce')
df = df.dropna(subset=['Global_active_power'])

In [9]:
df['date_time'] = pd.to_datetime(df['date_time'])
df=df.loc[:, ['date_time', 'Global_active_power']]
df.sort_values('date_time', inplace=True, ascending=True)
df=df.reset_index(drop=True)

In [10]:
df['year']=df['date_time'].apply(lambda x:x.year)
df['quarter']=df['date_time'].apply(lambda x:x.quarter)
df['month']=df['date_time'].apply(lambda x:x.month)
df['day']=df['date_time'].apply(lambda x:x.day)

df=df.loc[:, ['date_time', 'Global_active_power','year', 'quarter','month','day']]
df.sort_values('date_time', inplace=True, ascending=True)
df.reset_index(drop=True)
df['weekday']=df.apply(lambda row : row['date_time'].weekday(), axis=1)
df["weekday"]=(df['weekday']<5).astype(int)

In [11]:
print('Rows & Colums: ',df.shape )
print('Start of Time Series: ',df['date_time'].min())
print('Start of Time Series: ',df['date_time'].max())

Rows & Colums:  (2049280, 7)
Start of Time Series:  2006-12-16 17:24:00
Start of Time Series:  2010-12-11 23:59:00

In [12]:
# perfom a check for normal distribution

from scipy import stats
stat, p = stats.normaltest(df.Global_active_power)
print('Statistics=%.3f, p=%.6f' %(stat,p))
alpha = 0.05

if p>alpha :
    print('Data Gaussian')
else:
    print('Data does not look Gaussian')

Statistics=724881.795, p=0.000000
Data does not look Gaussian

In [16]:
df.info()
df.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2049280 entries, 0 to 2049279
Data columns (total 7 columns):
 #   Column               Dtype
---  ------               -----
 0   date_time            datetime64[ns]
 1   Global_active_power  float64
 2   year                 int64
 3   quarter              int64
 4   month                int64
 5   day                  int64
 6   weekday              int64
dtypes: datetime64[ns](1), float64(1), int64(5)
memory usage: 125.1 MB

,date_time,Global_active_power,year,quarter,month,day,weekday
2049275,2010-12-11 23:55:00,0.690,2010,4,12,11,0
2049276,2010-12-11 23:56:00,0.688,2010,4,12,11,0
2049277,2010-12-11 23:57:00,0.688,2010,4,12,11,0
2049278,2010-12-11 23:58:00,0.688,2010,4,12,11,0
2049279,2010-12-11 23:59:00,0.688,2010,4,12,11,0

Exploratory Data Analysis : EDA

In [18]:
# check for kurtosis and skewness
import seaborn as sns 

sns.distplot(df.Global_active_power)

ModuleNotFoundError: No module named 'seaborn'

In [29]:
# draw a time-series plot

# df1=df.loc[:,["date_time", "Global_active_power"]]
# df1.set_index('date_time', inplace=True)
# df.plot(figsize=(12,5))

# import matplotlib.pyplot as plt
# %matplotlib inline 

# plt.ylabel('Global_active_power')
# plt.legend().set_visible(False)
# plt.tight_layout()

# plt.title('Global Active Power Time Series')
# sns.despine(top=True)
# plt.show()

Procedure for model preparation

* Use LSTM model to predict
* Convert all data to float
* Normalize the feature
* Convert the array into Matrix
* Re-shape into x=t and y=t+1
* reshape input to be 3D (samples, timesteps, feature)

In [47]:
import numpy as np


dataset = df.Global_active_power.values
dataset = dataset.astype('float32')
dataset = np.reshape(dataset,(-1,1))

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

scaler = MinMaxScaler(feature_range=(0,1))

dataset = scaler.fit_transform(dataset)

train_size = int(len(dataset)*0.8)
test_size = len(dataset) - train_size

train, test = dataset[0:train_size, :], dataset[train_size:len(dataset), :]

def create_dataset(dataset, look_back=1):
    x,y = [], []
    for i in range(len(dataset)-look_back-1):
        a = dataset[i:(i+look_back),0]
        x.append(a)
        y.append(dataset[i+look_back,0])
    return np.array(x), np.array(y)

look_back = 30

x_train, y_train = create_dataset(train, look_back)
x_test, y_test = create_dataset(test, look_back)

# Reshape inputs
x_train = np.reshape(x_train, (x_train.shape[0], 1, x_train.shape[1]))
x_test = np.reshape(x_test, (x_test.shape[0],1,x_test.shape[1]))

In [58]:
#train the model

import tensorflow as tf
from tensorflow import keras
from keras.utils import Sequence
from keras.layers import *
from keras.callbacks import EarlyStopping
from datetime import timedelta
import math

model = keras.Sequential()
model.add(LSTM(100, input_shape=(x_train.shape[1],x_train.shape[2])))
model.add(Dropout(0.2))
model.add(Dense(32))
model.add(Dense(16))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')

history=model.fit(x_train,y_train, epochs=20, batch_size=70,validation_data=(x_test,y_test),
                  callbacks=[EarlyStopping(monitor='val_loss',patience=10)],verbose=1,shuffle=False)

model.summary()

Epoch 1/20

2022-12-19 21:59:56.205532: W tensorflow/tsl/framework/cpu_allocator_impl.cc:82] Allocation of 196727160 exceeds 10% of free system memory.

23416/23420 [============================>.] - ETA: 0s - loss: 7.9452e-04

2022-12-19 22:01:27.128852: W tensorflow/tsl/framework/cpu_allocator_impl.cc:82] Allocation of 49179000 exceeds 10% of free system memory.